* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0D1E31;
}

.container {
    width: 1400px;
    margin: 0 auto;
    height: 100%;
}

.container_header {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 135px;
    border-bottom: 3px solid whitesmoke;
}

.posicao {
    transform: rotateZ(-40deg);
    height: 0;
    width: 100vw;
    margin-top: 200px;
    z-index: 0;
    position: absolute;
}
.posicao_2 {
    transform: rotateZ(-40deg);
    height: 0;
    width: 30vw;
    margin-top: 200px;
    z-index: 0;
    position: absolute;
}
.posicao_3 {
    transform: rotateZ(-40deg);
    height: 0;
    width: 200vw;
    margin-top: 200px;
    z-index: 0;
    position: absolute;
}

.star {
    position: absolute;
    right: 50%;
    top: 50%;
    height: 4px;
    background: linear-gradient(45deg, #FBCB29, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #DEAE0C);
    z-index: 0;
    animation: tail 1.5s ease-in-out infinite, falling 1.5s ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0px;
    }
    30% {
        width: 100px;
    }
    100% {
        width: 0;
    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-300px);
    }
}

.star::before, .star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 0px;
    height: 4px;
    background: linear-gradient(45deg, rgba(0, 0, 255, 0), #FBCB29, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(-50%) rotateZ(45deg);
    animation: shinning 1.5s ease-in-out infinite;
}

@keyframes shinning {
    0% {
        width: 0px;
    }
    50% {
        width: 30px;
    }
    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(-50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: calc(50% - 100px);
    right: calc(50% - 250px);
    animation-delay: 1s;
}

.star:nth-child(1)::before, .star:nth-child(1)::after {
    animation-delay: 1s;
}

.star:nth-child(2) {
    top: calc(50% - 50px);
    right: calc(50% - 200px);
    animation-delay: 1s;
}

.star:nth-child(2)::before, .star:nth-child(2)::after {
    animation-delay: 1.2s;
}

.star:nth-child(3) {
    top: calc(50% - 0px);
    right: calc(50% - 150px);
    animation-delay: 1.2s;
}

.star:nth-child(3)::before, .star:nth-child(3)::after {
    animation-delay: 1.4s;
}

.star:nth-child(4) {
    top: calc(50% - -50px);
    right: calc(50% - 200px);
    animation-delay: 1.6s;
}

.star:nth-child(4)::before, .star:nth-child(4)::after {
    animation-delay: 1.6s;
}

.star:nth-child(5) {
    top: calc(50% - -100px);
    right: calc(50% - 250px);
    animation-delay: 1.8s;
}

.star:nth-child(5)::before, .star:nth-child(5)::after {
    animation-delay: 1.8s;
}

.box-cadastro {
    height: 600px;
    display: flex;
    justify-content: space-between;
    position: relative !important;
    margin-top: 185px;
}

.box-cadastro h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: whitesmoke;
}

.box-cadastro input {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #FBCB29;
    height: 40px;
    color: #FBCB29;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.box-cadastro input::placeholder {
    color: #FBCB29;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

.id {
    width: 275px
}

.titulo {
    width: 595px;
}

.box-cadastro button {
    background-image: url(../assets/botao-bg.png);
    width: 455px;
    height: 90px;
    border-radius: 14px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.box-cadastro button:hover {
    width: 460px;
    height: 95px;
    background-repeat: no-repeat;
    background-color: #564B94;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 485px;
}

.box-cadastro textarea {
    width: 500px;
    height: 500px;
    resize: none;
    padding: 25px;
    border-radius: 25px;
    background-image: url(../assets/icon-dream-details.png);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.box-cadastro textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    color: #B4B4B4;
}

.posicao-inputs {
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    border-radius: 1px;
    border: 1.5px solid #FBCB29;
    background-color: #FBCB29;
}

.card_desejos {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.line {
    margin-top: 135px;
    width: 1400px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 380px;
    height: 342px;
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    transform-style: preserve-3d;
    border-radius: 20px;
    margin-top: 100px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform-style: preserve-3d;
    transition: 2s ease-in-out;
    backface-visibility: hidden;
}

.card .face.front {
    background-image: url(../assets/fundo_cards.png);
  
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #E56775;
}

.card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.card .face.back {
    background-image: url(../assets/fundo_cards.png);
 
    border-radius: 20px;
    transform: perspective(500px) rotateY(180deg);
}

.card span {
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: whitesmoke;
}

.card p {
    margin-left: 40px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    width: 265px;
    height: 50vh;
}

.card h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: #E56775;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

footer {
    margin-top: 150px;
    border-top: 3px solid whitesmoke;
    height: 150px;
}